@import './../variables.scss';
@import './../mixins.scss';

.main {
    @include heading-5;
    color: $g-color-text-on-dk;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.small {
    @include heading-6;
    color: $g-color-secondary;
    font-weight: $g-font-weight-bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}