/*-------------Buttons-------------*/
[class*="btn"]{
    background-color: #fff;
    cursor: pointer;
    box-shadow: $shadow;
    width: 100%;
    padding: 1em;
    border-radius: 2em;
}

[class*="btn"]:hover{
    @include main-gradient;
    color:  #fff;
    box-shadow: 0px 5px 5px rgba(0,0,0,.125);
    animation-name: button-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.38,.38,.12,.96);
}
