/*-------------Forms-------------*/
/*Required*/

.row-flex{
    display: flex;
    flex-wrap: wrap;
}

.row-flex .left{
    flex-grow: 1; 
    flex-basis: 100px;
}

.row-flex .right{
    flex-grow: 9;
    flex-basis: 200px; 
}

.row .left{
    padding: .6em;
}


