/*-------------Forms-------------*/

.input{
    width: 100%;
}

/*-------------Icon Containers-------------*/
.icon-container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 100%;
}

.profile-wrapper{
    margin-bottom: .5em;

    .img-profile{
        border-radius: .75em .75em 0 0;
        margin-bottom: -.5em;

    }    
    .icon-container:last-child{
        border-radius: 0 0 .75em .75em;
        border-top: 1px solid $color-neutral-med;
        overflow: hidden;
    }
    
}

.icon-container-info{
    margin-bottom: .5em;

    .icon{
        border-radius: .75em 0 0 .75em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-content{
        border-radius: 0 .75em .75em 0;
        padding: 1.25em;
    }
}

.icon{
    min-width: 50px;
    text-align: center;
    @include icon-box;
    align-self: stretch;
    color: $color-neutral-med;
    transition: color .75s;
}

.icon-content{
    @include icon-box;
    width: 100%;
    z-index: 2;
}

.icon-content:focus{
    outline: 2px solid $color-primary;
}

.icon-content:focus ~ .icon, .icon-content:hover ~ .icon{
    color: $color-primary;
}


