/*-------------Helpers-------------*/

.col-flex{
    @include col-flex;
}

.row:first-child{
    margin: 0 0 1em 0;
}

.row:not(:first-child){
    margin: 2em 0;
}

.row-sm:not(:first-child){
    margin: 1em 0 0 0;
}

.text-center{
    text-align: center;
}

.text-sm{
    font-size: .75em;
}

.skew{
    @include skew;
}

.un-skew{
    @include unskew;
}

.required::before{
    content: "*";
    color: $color-danger;
}

/*-------------Icon Containers-------------*/
.icon-container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.icon{
    @include icon-box;
    display: inline-block;
    align-self: stretch;
    color: $color-neutral-med;
}

.icon-content{
    @include icon-box;
    width: 100%;
}

.icon-content:focus{
    outline: 2px solid $color-primary;
}