/*-------------Helpers-------------*/

.col-flex{
    @include col-flex;
}

.row:first-child{
    margin: 0 0 1em 0;
}

.row:not(:first-child){
    margin: 2em 0;
}

.row-sm:not(:first-child){
    margin: 1em 0 0 0;
}

.text-center{
    text-align: center;
}

.text-sm{
    font-size: .75em;
}

.skew{
    @include skew;
}

.un-skew{
    @include unskew;
}

