/*-------------Helpers-------------*/

.mb{
    margin-bottom: 1em;
}

.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
 }

.text-center{
    text-align: center;
}

.text-sm{
    font-size: .75em;
}

.skew{
    @include skew;
}

.un-skew{
    @include unskew;
}

.required::before{
    content: "*";
    color: $color-danger;
}

.img-responsive{
    width: 100%;
}

.img-profile{
    margin: 0 auto;
    box-shadow: $shadow;
}

hr.home{
    border: none;
    background-color: $color-neutral-med;
    height: 1px;
    margin: 1em 0;
}

@media only screen and (min-width:800px){
    .img-profile{
        width: 100%;
        height: auto;
    }
}

