/*-------------Layout-------------*/
html{
    background: radial-gradient(#fff 40%, #ddd) no-repeat fixed;
    min-height: 100%;
}

body{
    background: repeating-linear-gradient(45deg, rgba(255,255,255,.05) 0px, rgba(255,255,255,.05) 2px, rgba(0,0,0,.025) 2px,  rgba(0,0,0,.025) 4px);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    @include no-space;
}

#fade-wrapper{
    display: none;
}

section{
    width: 100%;
}

.col-main{
    min-height: calc(100vh - 9em);
    padding-top: 8em;
    width: 60%;
    margin: 0 auto;
}

