/*-------------Lists-------------*/
ul.primary-list{
    list-style: none;
    @include no-space;
}

ul.primary-list li::before{
    content:"// ";
    color: $color-primary;
    font-weight: bold;
}

