
@mixin main-gradient{
    background: $color-primary;
    background: -webkit-linear-gradient(45deg, $color-primary, $color-secondary);
    background: linear-gradient(45deg, $color-primary, $color-secondary);
}

@mixin headings-bold{
    font-family: $headings-font;
    font-weight: bold;
}

@mixin shadow-box{
    background-color: $color-neutral-lt;
    box-shadow: $shadow;
}

@mixin icon-box{
    background-color: $color-neutral-lt;
    box-shadow: $shadow;
    padding: $box-padding;
}

@mixin col-flex{
    display: flex;
    flex-direction: column;
}

@mixin skew{
    transform: skew(-20deg);
}

@mixin unskew{
    transform: skew(20deg);
}

@mixin no-space{
    padding: 0px;
    margin: 0px;
}

@mixin margin-center{
    margin: 0 auto;
}

