

/*-------------Home Nav------------*/
.home-nav{

    a:link:not(:last-child){
    }

    a:link, a:visited, a:active{
        padding: 0 .5em;
        color: $color-neutral-mddk;
    }
    a:hover{
        color: $color-primary;
        text-decoration: none;
    }

}

/*-------------Social-------------*/
ul.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.social-links li a span{
    @include shadow-box;
    font-size: 1.2em;
    height: 2.5em;
    width: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 100%;
    margin: .5em;
    color: $color-neutral-dk;
}

ul.social-links li:hover a span{
    animation-name: social-hover;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.38,.38,.12,.96);
}

