/*-------------Nav-------------*/
#nav-wrapper{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#nav{
    @include shadow-box;
    display: flex;
    flex-direction: column;
    font-family: $headings-font;
    height: 4em;
    overflow: hidden;
}

#nav.nav-visible{
    height: 100%;
    overflow: auto;
}

.nav{
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
}

.nav-link, .logo{
    padding: 0 1em;
}

span.gradient{
    @include main-gradient;
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
}

span.gradient:hover{
    animation-name: logo-hover;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.17,.57,.31,.85);
}

h1.logo{
    font-weight: 300;
    font-size: 1.75em;
    color: $color-neutral-lt;
}

h1.logo a:link, h1.logo a:visited, h1.logo a:active, h1.logo a:hover{
    text-decoration: none;
    color: $color-neutral-lt;
}

.nav-link{
    text-transform: uppercase;
    text-align: center;
}


.nav-link{
    border-top: .5px solid $color-neutral-med;
}

.right{
    display: flex;
    flex-direction: column;
    height: 100%;
}


@media only screen and (min-width:768px){
    #nav{
        flex-direction: row;
    }

    .nav-link{
        border-top: none;
    }

    .right{
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        left: 1.5em;
        height: auto;
    }

    .btn-nav{
        display: none;
    }

    .nav a:link.active, .nav a:visited.active, .nav a:active.active{
        @include main-gradient;
        color: #fff;
    }
    
    .nav-link-span{
        @include unskew;
        display: inline-block;
    }
    
    .nav-link{
        @include skew;
        color: #777;
        text-decoration: none;
    }

    .nav-link:last-child{
        padding-right: 3em;
    }

    a:hover.nav-link:not(.active){
        color: $color-neutral-dk;
        background: $color-neutral-med;
        background: linear-gradient(45deg, $color-neutral-lt, #ddd);
    }
}

/*-------------Social-------------*/
ul.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.social-links li a span{
    @include shadow-box;
    font-size: 1.2em;
    height: 2.5em;
    width: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 100%;
    margin: .5em;
    color: $color-neutral-dk;
}

ul.social-links li:hover a span{
    animation-name: social-hover;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.38,.38,.12,.96);
}

