@import './../../scss/variables.scss';

.wrapper {
    padding: 2rem;
    background: $g-color-bg-dk;

    @media screen and (min-width: $g-breakpoint-tablet),
    print {
        padding: 5rem;
    }
}