@import './../../scss/variables.scss';


@keyframes draw {

    40%,
    80% {
        opacity: 1;
        stroke-dashoffset: 0;
        stroke: $g-color-text-on-dk;
    }

    95%,
    100% {
        opacity: 1;
        stroke-dashoffset: 0;
        stroke: $g-color-text-on-dk;
    }

}

.svg {
    width: 100%;

    @media screen and (min-width: $g-breakpoint-tablet),
    print {
        width: 20rem;
    }
}

.stroke {
    fill: none;
    stroke: $g-color-bg-dk;
    stroke-width: 4.75;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    animation: draw 7s forwards ease-in-out;
    stroke-dashoffset: 200;
}