@import './../../scss/variables.scss';

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
    background: linear-gradient(to left, $g-color-bg-dk, $g-color-neutral-med-dk);
    border-radius: 20em;
}

.image {
    max-width: 15rem;
    width: 100%;
    border-radius: 20em;
    position: relative;
}