@import './../../scss/variables.scss';

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 25rem;
    width: 100%;
    position: relative;
}