@import './scss/reset.scss';
@import './scss/variables.scss';
@import './scss/mixins.scss';
@import './scss/shared.scss';


.container {
    width: 100%;
    min-height: 100vh;

    &__dark {
        background: $g-color-bg-dk;
    }

    &__dark_gradient {
        background: linear-gradient(-45deg, $g-color-bg-dk, $g-color-neutral-med-dk);
    }

    &__light {
        background-color: $g-color-bg-lt;
    }
}

.row {
    display: flex;
    flex-direction: column;

    &__100 {
        min-height: 100vh;
    }

    &__inner {
        padding: $g-space-two 0;
    }

    &__inner_divided {
        @extend .row__inner;

        &:not(:first-child) {
            border-top: 1px solid $g-color-secondary;
        }
    }

    &__stacked {
        margin: 1rem 0 0 0;
    }

    @media screen and (min-width: $g-breakpoint-desktop),
    print {
        flex-direction: row;
    }


}

.row,
.col {
    &__center {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

.col {
    padding: $g-space-two;

    &__dk {
        background-color: $g-color-bg-dk;
    }
}



@for $i from 1 through 6 {
    .col__#{$i} {
        flex: #{$i};
    }
}