@import './scss/reset.scss';
@import './scss/variables.scss';
@import './scss/mixins.scss';
@import './scss/shared.scss';


.container {
    width: 100%;
    min-height: 100vh;

    &__dark {
        background: $g-color-bg-dk;
    }

    &__light {
        background-color: $g-color-bg-lt;
    }
}

.wrapper {
    height: 100vh;
    display: flex;

    &__center {
        align-items: center;
        justify-content: center;
    }
}

.col {
    padding: $g-space-three;
}

@for $i from 1 through 6 {
    .col__#{$i} {
        flex: #{$i};
    }
}