// Altered BEM for React
// element_name__modifier_name
@import './variables.scss';
@import './mixins.scss';

// Responsive text sizing mixins from Geoff Graham:
// https://css-tricks.com/snippets/css/fluid-typography/
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {

            font-size: $min-font-size;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}


html {
    @include fluid-type($g-breakpoint-mobile, $g-breakpoint-desktop, 14px, 18px);
    scroll-behavior: smooth;
}

body {
    font-family: $g-font-family-text;
    font-weight: $g-font-weight-default;
    line-height: $g-line-height-text;
}

:global {
    .text {
        font-size: 1rem;
        color: $g-color-text;
        font-family: $g-font-family-text;
        line-height: $g-line-height-text;

        &__on_dark {
            color: $g-color-text-on-dk;
        }

        &__large {
            font-size: 1.25rem;
        }

        &__small {
            font-size: .875rem;
        }

        &__xsmall {
            font-size: .75rem;
        }
    }

    .heading {
        color: $g-color-heading;
        font-family: $g-font-family-heading;
        line-height: $g-line-height-heading;
        font-weight: $g-font-weight-default;

        &__on_dark {
            color: $g-color-heading-on-dk;
        }

        &__uppercase_sm {
            text-transform: uppercase;
            font-weight: $g-font-weight-bold;
            letter-spacing: 1px;
        }

        &__uppercase {
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $g-color-heading-on-dk;
            text-align: center;
        }

        // $min-vw, $max-vw, $min-font-size, $max-font-size
        &__1 {
            @extend .heading;
            font-size: 3rem;
        }

        &__2 {
            @extend .heading;
            font-size: 2rem;
        }

        &__3 {
            @extend .heading;
            font-size: 1.5rem;
        }

        &__4 {
            @extend .heading;
            font-size: 1.25rem;
        }

        &__5 {
            @extend .heading;
            font-size: 1rem
        }

        &__6 {
            @extend .heading;
            font-size: .875rem;
        }
    }

    .sr_only {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }


    .list {
        &__links {
            padding-bottom: 4px;
        }

        &_item {
            display: block;

            &:not(:first-child) {
                margin: $g-space-one 0 0 0;
            }

            &__link {
                &:not(:first-child) {
                    margin: $g-space-quarter 0 0 0;
                }
            }
        }
    }
}