*,
*::before,
*::after {
    box-sizing: border-box;
}

$color-primary: #f857a8;
$color-secondary:#ff5858;
$color-neutral-lt: #fff;
$color-neutral-med: #ddd;
$color-neutral-mddk: #999;
$color-neutral-dk: #444;
$color-black-lt: rgb(45, 45, 45);
$color-black: rgb(19, 19, 19);
$color-danger: #ff5858;

$shadow: 0px 3px 10px rgba(0, 0, 0, .2);
$shadow-dk: 0px 5px 15px 0px rgba(0, 0, 0, .125);
$shadow-inset: -3px 0px 10px rgba(0, 0, 0, .05) inset;

$box-padding: .8em;

$col-basis: calc(100% / 6);

$links-not-hover: 'a:link, a:visited, a:active';

$body-font: 'Roboto',
sans-serif;
$headings-font: 'Saira Semi Condensed',
sans-serif;


// NEW VARIABLES:

// Colors
$g-color-highlight-1: #00C294;
$g-color-highlight-2: #EBFE6C;
$g-color-text: #222222;
$g-color-text-on-dk: #E4E4E4;
$g-color-heading: #747791;
$g-color-heading-on-dk:#E4E4E4;
$g-color-bg-dk: #20244C;
$g-color-bg-lt: #FFFFFF;

// Typography
$g-font-size: 16px;
$g-font-family-text: "'Montserrat', sans-serif";
$g-font-family-heading: "'Montserrat', sans-serif";
$g-line-height-text: 1.5;
$g-line-height-heading: 1.25;
$g-font-weight-bold: 700;
$g-font-weight-default: 400;

// Media queries
// $g-screen-mobile-small: 360px;
// $g-screen-mobile-only: 567.98px;
// $g-screen-mobile-landscape-up: 568px;
// $g-screen-tablet-portrait-up: 768px;
// $g-screen-tablet-landscape-up: 992px;
// $g-screen-desktop-up: 1200px;
// $g-screen-large-desktop-up: 1800px;

$g-breakpoint-mobile: 360px;
$g-breakpoint-desktop: 992px;